.DS_Store
.venv
.idea
.vscode
*/ssl
.log*
*.lock

backend/indexapi/data
backend/indexapi/.python-version
backend/indexapi/pyproject.toml

frontend/index/dist
frontend/index/node_modules
frontend/index/package-lock.json




