pre.code-dark, pre.code-night, pre.code-light {
  background-color: #b1a49708;
  border-radius: 10px;
	line-height: 1.6;
  padding: 20px;
	margin: 0;
	font-family: var(--font-family-mono);
  font-size: 1.2rem;
}

code.md-dark, code.md-light, code.md-night {
  font-family: inherit;
  font-size: inherit;
	line-height: inherit;
	line-height: inherit;
	background: 0 0;
	border: none;
	text-align: left;
	white-space: pre-wrap;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 0;
	margin: 0;
	outline: none;
}

code.md-light span, code.md-dark span, code.md-night span {
  font-family: inherit;
  font-size: inherit;
	line-height: inherit;
}


/******************************/
/*--------- LIGHT -----------*/
/******************************/
pre.code-light {
	background-color: #eeEEee;
}
code.md-light {
	color: #222222;
}
code.md-light span.num {
  color: #a72828;
}
code.md-light span.str {
  color: #327800;
}
code.md-light span.op {
  color: #222222;
}
code.md-light span.fn {
  color: #016190;
}
code.md-light span.cl {
  color: #016190;
}
code.md-light span.kw {
  color: #6e2375;
}
code.md-light span.rx {
  color: #b7580b;
}
code.md-light span.tag {
  color: #b7580b;
}
code.md-light span.cmt {
  color: #999999;
}
code.md-light span.dec {
  color: #7e8a13;
}


/******************************/
/*--------- DARK -----------*/
/******************************/

code.md-dark {
	color: #ccCCcc;
}
code.md-dark span.num {
  color: #e2777a;
}
code.md-dark span.str {
  color: #aab787;
}
code.md-dark span.op {
  color: #a488ae;
}
code.md-dark span.fn {
  color: #75b3d2;
}
code.md-dark span.cl {
  color: #75b3d2;
}
code.md-dark span.kw {
  color: #7dcbbd;
}
code.md-dark span.rx {
  color: #e2777a;
}
code.md-dark span.tag {
  color: #e2777a;
}
code.md-dark span.cmt {
  color: #717783;
}
code.md-dark span.dec {
  color: #c394c7;
}

/******************************/
/*--------- NIGHT -----------*/
/******************************/
pre.code-night {
	background-color: #181818;
}
code.md-night {
	color: #ccCCcc;
}
code.md-night span.num {
  color: #e17369;
}
code.md-night span.str {
  color: #aab787;
}
code.md-night span.op {
  color: #a488ae;
}
code.md-night span.fn {
  color: #75b3d2;
}
code.md-night span.cl {
  color: #75b3d2;
}
code.md-night span.kw {
  color: #7dcbbd;
}
code.md-night span.rx {
  color: #e2777a;
}
code.md-night span.tag {
  color: #e28c77;
}
code.md-night span.cmt {
  color: #717783;
}
code.md-night span.dec {
  color: #a488ae;
}