pre.code-dark,
pre.code-night,
pre.code-light {
    line-height: 1.6;
    padding: 15px;
    margin: 0;
    font-family: var(--font-family-mono);
    font-size: 0.9rem;
    /* -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: antialiased !important; */
}

code.md-dark,
code.md-light,
code.md-night {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    line-height: inherit;
    background: 0 0;
    border: none;
    text-align: left;
    white-space: pre-wrap;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    padding: 0;
    margin: 0;
    outline: none;
}

code.md-light span,
code.md-dark span,
code.md-night span {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


/******************************/
/*--------- LIGHT -----------*/
/******************************/
pre.code-light {
    background-color: #f9f8f7;
    border: 1px solid #eae9e8;
}

code.md-light {
    color: #222222;
}

code.md-light span.num {
    color: #a72828;
}

code.md-light span.str {
    color: #327800;
}

code.md-light span.op {
    color: #222222;
}

code.md-light span.bash,
code.md-light span.fn {
    color: #016190;
}

code.md-light span.cl {
    color: #016190;
}

code.md-light span.tag,
code.md-light span.kw,
code.md-light span.kt {
    color: #6e2375;
}

code.md-light span.cmt {
    color: #999999;
}

code.md-light span.dec {
    color: #7e8a13;
}


/******************************/
/*--------- DARK -----------*/
/******************************/
pre.code-dark {
    background-color: #596d7d10;
}

code.md-dark {
    color: #aab9c9;
}

code.md-dark span.num {
    color: #cd7272;
}

code.md-dark span.str {
    color: #7cb9bd;
}

code.md-dark span.op,
code.md-dark span.kw {
    color: #7f7aab;
}

code.md-dark span.bash,
code.md-dark span.fn,
code.md-dark span.cl {
    color: #71a6c7;
}

code.md-dark span.tag,
code.md-dark span.kt {
    color: #aa83a1;
}

code.md-dark span.cmt {
    color: #525769;
}

code.md-dark span.dec {
    color: #9fa48f;
}

/******************************/
/*--------- NIGHT -----------*/
/******************************/
pre.code-night {
    background-color: #161b1c88;
}

code.md-night {
    color: #8abac2;
}

code.md-night span.num {
    color: #9fa786;
}

code.md-night span.str {
    color: #64ab91;
}

code.md-night span.op {
    color: #9480aa;
}

code.md-night span.kw {
    color: #b9777d;
}

code.md-night span.bash,
code.md-night span.fn,
code.md-night span.cl {
    color: #4994ba;
}

code.md-night span.tag,
code.md-night span.kt {
    color: #9480aa;
}

code.md-night span.cmt {
    color: #5b767f;
}

code.md-night span.dec {
    color: #6f6baf;
}