@font-face {
    font-family: 'verdana2';
    src: url('resources/fonts/Verdana/Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'verdana2';
    src: url('resources/fonts/Verdana/VerdanaPro-SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'verdana2';
    src: url('resources/fonts/Verdana/VerdanaPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'verdana2';
    src: url('resources/fonts/Verdana/VerdanaPro-SemiBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: block;
}
